

<br>
<div *ngIf="isUserAuthenticated()" style="color:blue;">
  <h4>
    YOU ARE LOGGED IN
  </h4>
</div>

<br>
<ul class="navbar-nav">
  <!-- <li><a routerLink="/customers">Customer</a></li> -->
  <li class="nav-link" *ngIf="!isUserAuthenticated()"><a routerLink="/login"><h1><b>Login</b></h1></a></li>
  <li class="nav-link" *ngIf="!isUserAuthenticated()"><a routerLink="/register"><h1><b>Register</b></h1></a></li>
  <li class="nav-link" *ngIf="isUserAuthenticated()"><a class="btn btn-outline-primary" [routerLink]="['/product']" >Click To Find Json Product List</a></li>
  <li class="nav-link" *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()"><b>Logout</b></a></li>
</ul>



